body{
  font-family: 'Roboto', sans-serif;
  padding: 10px 0;
}

.other-category-titles {
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0px 5px 0px;
  border-left: 5px solid #568b30;
  padding-left: 10px;
  text-align: left;
}
.other-gateways-wrapper {
  padding: 10px;
  background: whitesmoke;
  display: inline-block;
  width: 100%;
}

.other-gateways-wrapper img {
  background: #ffffff;
  padding: 3px;
  border-radius: 5px;
  margin: 10px;
  height: 60px;
  float: left;
}

.merchant-info {
  padding: 10px;
  display: inline-block;
  width: 100%;
  height: auto;
  background: #f05429;
  border-radius: 3px;
}
.profile-image{
  background: white;
  padding: 10px;
  border-radius: 5px;
}
.profile-image img {
  height: 55px;
}

.container{
  max-width: 600px !important;
}

.cursor-pointer{
  cursor: pointer;
}

footer{
  padding: 5px;
  margin-top: 10px;
  background: linear-gradient(to right, #b7c24a , #558b30);
  border-radius: 3px;
}

footer p, footer a{
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

